# minute    hour    day   month   weekday   command
0           1	      *	    *	      *	        excludarr sonarr -a delete -d -e -y
0           2	      *	    *	      *	        excludarr radarr -a delete -d -e -y
