{% extends 'layouts/main.html' %}

{% block content %}

    <!-- Container fluid -->
    <div class="bg-dark pt-10 pb-21"></div>
        <div class="container-fluid mt-n22 px-6">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Page header -->
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mb-2 mb-lg-0">
                                <h3 class="mb-0 text-white">Movies</h3>
                            </div>
                            <div>
                                <form action="{% url 'movies' %}" method="POST">
                                  <button type="button" id="run" name="movies_id" value="run" class="btn btn-white">Run Excludarr</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- row  -->
            <div class="row mt-6">
              <div class="col-md-12 col-12">
                  <!-- card  -->
                  <div class="card">
                      <!-- card header  -->
                      <div class="card-header bg-white  py-4">
                          <h4 class="mb-0">Movies overview</h4>
                      </div>
                      <!-- table  -->
                      <div class="table-responsive">
                          <table class="table text-nowrap mb-0">
                              <thead class="table-light">
                                  <tr>
                                      <th>Name</th>
                                      <th>Quality available</th>
                                      <th>Streaming on</th>
                                      <th>Excluded</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="align-middle">
                                          <div class="d-flex align-items-center">
                                              <div>
                                                  <img src="https://www.themoviedb.org/t/p/original/oENY593nKRVL2PnxXsMtlh8izb4.jpg" alt="" height="40">
                                              </div>
                                              <div class="ms-3 lh-1">
                                                  <h5 class=" mb-1"> <a href="#" class="text-inherit">The Lord of the Rings</a></h5>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="align-middle"><span class="badge bg-success">4K</span></td>
                                      <td class="align-middle">
                                          <span class="badge bg-danger">Netflix</span>
                                          <span class="badge bg-dark">Videoland</span>
                                          <span class="badge bg-dark">HBO</span>
                                          <span class="badge bg-info">Amazon Prime</span>
                                          <span class="badge bg-warning">Roku</span>
                                      </td>
                                      <td class="align-middle"><span class="badge bg-danger">No</span></td>
                                      <td class="align-middle text-dark">
                                          <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#excludeMovieModal">Exclude</button>
                                          <button type="button" class="btn btn-outline-dark btn-sm">Re-add</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <!-- card footer  -->
                      <div class="card-footer bg-white text-center">
                          <a href="#" class="link-primary">View All Projects</a>

                      </div>
                  </div>

              </div>
            </div>
            
            
            <!-- Modal -->
            <div class="modal fade" id="excludeMovieModal" tabindex="-1" role="dialog" aria-labelledby="excludeMovieModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="excludeMovieModalTitle">Exclude movie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                      <label class="form-check-label" for="flexCheckDefault">Delete files</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Add import exclusion</label>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Exclude</button>
                  </div>
                </div>
              </div>
            </div>
{% endblock content %}

<!-- Page specific JS -->
{% load static %}
{% block javascripts %}
<script>
  var url_name = "{% url 'movies' %}"
  var csrf_token = "{{ csrf_token }}"
</script>
<script src="{% static '/assets/js/movies.js' %}"></script>
{% endblock javascripts %}