{% extends 'layouts/main.html' %}

{% load color %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Movies</h2>
      <p class="mb-0">An overview of all movies. Here you can exclude, re-add, ignore and delete movies.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-primary d-inline-flex align-items-center me-2" type="button" id="syncBtn">
      <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
      <span>Sync</span>
  </button>
  <button class="btn btn-secondary d-inline-flex align-items-center" type="button" id="runBtn">
    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z"></path></svg>
    <span>Run Excludarr</span>
</button>
    {% comment %} <a href="#" class="btn btn-primary d-inline-flex align-items-center me-2" id="syncBtn">
      <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
      Sync
    </a>
    <a href="#" class="btn btn-secondary d-inline-flex align-items-center">
      <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z"></path></svg>
      Run Excludarr
    </a> {% endcomment %}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="table-responsive py-4">
        <table class="table table-flush" id="datatable">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Quality available</th>
                <th>Streaming on</th>
                <th>Excluded</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
              {% for movie in movies %}
              <tr>
                <td>
                  <a href="#" class="d-flex align-items-center">
                    <img class="me-2 image image-sm rounded" alt="Image placeholder" src="{{ movie.poster }}">
                    <div>
                      <span class="h6">{{ movie.title }}</span>
                    </div>
                  </a>
                </td>
                <td>
                  <span class="badge" style="background-color: {% if movie.quality_available is not None %}{{ movie.quality_available | colorize }}{% else %}#000{% endif %};">
                    {% if movie.quality_available is not None %}{{ movie.quality_available }}{% else %}N/A{% endif %}
                  </span>
                </td>
                <td>
                  <span class="badge bg-primary">Videoland</span>
                  <span class="badge bg-danger">Netflix</span>
                </td>
                <td>
                  {% if movie.excluded %}
                  <span class="badge bg-success">Yes</span>
                  {% else %}
                  <span class="badge bg-danger">No</span>
                  {% endif %}
                </td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg>
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dashboard-dropdown mt-2 py-1" style="">
                      <a class="dropdown-item d-flex align-items-center" href="#"><svg class="dropdown-icon me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"></path></svg> Re-add</a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><svg class="dropdown-icon me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01"></path></svg> Exclude</a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><svg class="dropdown-icon me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M3 12l6.414 6.414a2 2 0 001.414.586H19a2 2 0 002-2V7a2 2 0 00-2-2h-8.172a2 2 0 00-1.414.586L3 12z"></path></svg> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
