{% extends 'layouts/main.html' %}

{% block content %}
<div class="py-4">
  <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
          <h1 class="h4">Settings</h1>
          <p class="mb-0">Configure providers, applications and more to tweak Excludarr to your liking.</p>
      </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card card-body border-0 shadow mb-4">
      <form method="post">
        {% csrf_token %}
        <h2 class="h5 mb-4">General</h2>
        <div class="col-lg-4 col-sm-6">
          <div class="mb-4">
              <label class="my-1 me-2" for="country">Locale</label>
              {{ general_settings_form.locale }}
          </div>
        </div>
        <div>
          <button class="btn btn-gray-800 mt-2" type="submit">Save all</button>
        </div>
      </form>
    </div> 
    <div class="card card-body border-0 shadow mb-4">
      <form method="post">
        {% csrf_token %}
        <h2 class="h5 mb-4">Providers</h2>
        <div class="row">
          {% for provider in providers %}
          <div class="col-lg-3 col-sm-6">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="{{ provider.id }}" {% if provider.active %}checked{% endif %}>
              <label class="form-check-label" for="{{ provider.id }}">{{ provider.clear_name }}</label>
            </div>
          </div>
          {% endfor %}
        </div>
        <div>
          <button class="btn btn-gray-800 mt-4" type="submit" name="providers_form">Save all</button>
        </div>
      </form>
    </div>
    <div class="card card-body border-0 shadow mb-4">
      <form method="post">
        {% csrf_token %}
        <h2 class="h5 mb-4">Radarr</h2>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="my-1 me-2" for="country">Host</label>
            {{ radarr_settings_form.host }}
          </div>
          <div class="col-md-6 mb-3">
            <label class="my-1 me-2" for="country">API Key</label>
            {{ radarr_settings_form.api_key }}
          </div>
        </div>
        <div class="mt-2 form-check">
          {{ radarr_settings_form.verify_ssl }}
          <label class="form-check-label" for="defaultCheck10">Verify SSL</label>
        </div>
        <div>
          <button class="btn btn-gray-800 mt-4" type="submit">Save all</button>
        </div>
      </form>
    </div>
    <div class="card card-body border-0 shadow">
      <form method="post">
        {% csrf_token %}
        <h2 class="h5 mb-4">Sonarr</h2>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="my-1 me-2" for="country">Host</label>
            {{ sonarr_settings_form.host }}
          </div>
          <div class="col-md-6 mb-3">
            <label class="my-1 me-2" for="country">API Key</label>
            {{ sonarr_settings_form.api_key }}
          </div>
        </div>
        <div class="mt-2 form-check">
          {{ sonarr_settings_form.verify_ssl }}
          <label class="form-check-label" for="defaultCheck10">Verify SSL</label>
        </div>
        <div>
          <button class="btn btn-gray-800 mt-4" type="submit">Save all</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}